* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Roboto", sans-serif;
    min-height: 100vh;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(5, 1fr);
    grid-template-areas: 
        "sd hd hd hd hd hd"
        "sd mn mn mn mn mn"
        "sd mn mn mn mn mn"
        "sd mn mn mn mn mn"
        "sd mn mn mn mn mn";
}

/* header {
} */

.head {
    grid-area: hd;
    display: flex;
    flex-direction: column;
}

aside {
    background-color: skyblue;
}

.sidebar {
    grid-area: sd;
}

main {
    background-color: aquamarine;
}

.content {
    grid-area: mn;
}

.top-bar {
    height: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.search-bar {
    background-color: #e9eff6;
    border-radius: 9999px;
    padding: 6px 16px;
    display: flex;
    align-items: center;
    gap: 10px;
    height: 40px;
    flex: 1;
    max-width: 600px;
}

.search-bar img {
    width: 20px;
    height: 20px;
    object-fit: contain;
    opacity: 0.6;
}

input {
    font-size: 14px;
    border: none;
    outline: none;
    background: transparent;
    flex: 1;
}

.right-part {
    display: flex;
    gap: 10px;
    margin-left: 20px;
    align-items: center;
}

.right-part img {
    width: 24px;
    height: 24px;
}

.right-part .avatar {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    border: 2px solid #ccc;
    background-color: #f0f0f0;
    object-fit: cover;
}